<html>
<head>
<link rel="stylesheet" href="template/inc/css.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
function conShow(html)
{
	window.showModalDialog (html,
	        "",
	        "status:no;center:yes;scroll:no;resizable:no;help:no;dialogWidth:1000px;dialogHeight:500px");
}
function addShow()
{
	window.showModalDialog ("studfrontadd.php",
	        "",
	        "status:no;center:yes;scroll:no;resizable:no;help:no;dialogWidth:800px;dialogHeight:500px");
}
function editShow()
{
	window.showModalDialog ("stuInfoEdit.html",
	        "",
	        "status:no;center:yes;scroll:no;resizable:no;help:no;dialogWidth:800px;dialogHeight:500px");
}
</script>
</head>
<body>

  <table width="1052" border=0 align=center cellpadding=2 cellspacing=1 bordercolor="#799AE1" class=tableBorder>
    <tbody>
      <tr>
         <th align=center colspan=16 style="height: 23px">就业前学生信息</th>
      </tr>
      <tr bgcolor="#DEE5FA">
         <td colspan="16" align="right" class=txlrow>
             <table width="1052" border=0  align=center cellpadding=2 cellspacing=1 class=tableBorder>
               <tr style="background-color:'#DEE5FA';border-color:#DEE5FA'">
               <form name="form1" method="get" action="">
                  <td>
                     <div>
					
                        年级：
                        <select name='mr_grade'>
                          <OPTION value='' selected>--请选择--</OPTION>
			<{foreach item=loop from=$query_class}>
			<OPTION VALUE="<{$loop.mr_grade}>"><{$loop.mr_grade}></OPTION>
            <{/foreach}>
                        </select>
                        &nbsp; 班级：
                         <select style="width:80px" name='mr_classid'>
                          <OPTION value='' selected>--请选择--</OPTION>
			<{foreach item=loop2 from=$query_classid}>
			<OPTION VALUE="<{$loop2.mr_classid}>"><{$loop2.mr_classid}></OPTION>
            <{/foreach}>
                         </select>
                         &nbsp; 姓名:
                         <input name='s_name' value='' type='text'>
                         &nbsp;带队老师:
                        <select style=" width:70px" name='t_name'>
						<OPTION value='' selected>--请选择--</OPTION>
                         <{foreach item=loop3 from=$query_teacher}>
			<OPTION VALUE="<{$loop3.t_id}>"><{$loop3.t_name}></OPTION>
            <{/foreach}>
                        </select>
                        &nbsp; 就业城市：
                         <select style=" width:70px" name='jobcity'>
						 <OPTION value='' selected>--请选择--</OPTION>
                          <option value="北京">北京</option>
                          <option value="上海">上海</option>
                          <option value="济南">济南</option>
                          <option value="临沂">临沂</option>
                          <option value="青岛">青岛</option>
                         </select>
                         &nbsp;&nbsp;<input type="submit" name="sub" value="查询">
						
                        </div>
                  </td>
				  </FORM>
                  <td align="left">
                     <!-- <a  href="javascript:addShow()">添加</a> --> 
					 <a  href="studfrontadd.php">添加</a>
                  </td>
              </tr>
           </table>
        </td>
      </tr>
	  <form name=form2 action='delstudentintofront.php' method='post'>
      <tr align="center" bgcolor="#799AE1">
        <td width="6%" align="center" class="txlHeaderBackgroundAlternate">编号</td>
        <td width="9%" align="center" class=txlHeaderBackgroundAlternate>姓名</td>
        <td width="9%" align="center" class=txlHeaderBackgroundAlternate>班级</td>
		<td width="9%" align="center" class=txlHeaderBackgroundAlternate>综合成绩</td>
		<td width="9%" align="center" class=txlHeaderBackgroundAlternate>就业城市</td>
		<td width="10%" align="center" class=txlHeaderBackgroundAlternate>带队老师</td>
		<td width="10%" align="center" class=txlHeaderBackgroundAlternate>离校日期</td>   
		<td width="9%" align="center" class=txlHeaderBackgroundAlternate>校长是否同意</td> 
		<td width="9%" align="center" class=txlHeaderBackgroundAlternate>费用是否交齐</td>
        <td width="15%" align="center" class=txlHeaderBackgroundAlternate>日常表现(辅导员)</td>
		<td width="9%" align="center" class=txlHeaderBackgroundAlternate>操作</td>
         <td width="4%" align="center" class=txlHeaderBackgroundAlternate>选定</td>
      </tr>
	  <{foreach item=loop from=$getData}>
      <tr bgcolor="#DEE5FA">
        <td align="center" class="txlrow"><{$id++}></td>
        <td align=center class=txlrow><{$loop.s_name}></td>
        <td align=center class=txlrow><{$loop.mr_classid}></td>
        <td align=center bgcolor="#DEE5FA" class=txlrow><{$loop.bj_mul_result}></td>
        <td width="8%" align=center class=txlrow><{$loop.bj_jobcity}></td>
        <td width="6%" align=center class=txlrow><{$loop.t_name}></td>
        <td width="8%" align=center class=txlrow><{$loop.bj_date}></td>
        <td width="6%" align=center class=txlrow><{$loop.bj_is_sure}></td>
		<td width="6%" align=center class=txlrow>
		<{foreach item=loops from=$charge}>
		<{if $loop.bj_studentid==$loops.ch_student_id}>
		<{if 26800==$loops.sum}>
		交齐
		<{else}>
		未交齐
		<{/if}>
		<{/if}>
		<{/foreach}>
		</td>
         <td align=center class=txlrow>
           <a href="#"><{$loop.bj_daily_show}></a>
         </td>
		 <td align=center class=txlrow>
		<a  href="studfrontedit.php?id='<{$loop.bj_id}>'">修改</a> | 
         <a  href="delstudentintofront.php?id='<{$loop.bj_id}>'" onclick="return window.confirm('确定要删除吗？');">删除</a>
		</td>
       <td align=center class=txlrow><input type="checkbox" name="checkbox[]" value="<{$loop.bj_id}>"></td>
        
      </tr>
     <{/foreach}>
       <tr bgcolor="#DEE5FA">
        <td colspan="16" align=center bgcolor="#DEE5FA" class=txlrow> 
		 <input type="radio" name="do" value="1" />删除</label>
         
          <span class="tablebody2">
          <input type="button" value="全选" name="Submit2" onClick="selectAll()" />
           <!-- <input type="button" value="反选" name="Submit2" onClick="selectOthers()"/> -->
          </span>
        <input type="submit" name="ok" value="确定" class="but"></td>
      </tr>
      <tr bgcolor="#DEE5FA">
        <td colspan=16 align=center class=txlrow><{$fenye}></td>
      </tr>
     </tbody>
	 </form>
	 </table>

<script  language="javascript">  
       function  selectAll()  
       {  
       var  arrObj  =  document.all;  
       for(var  i  =  0;  i  <  arrObj.length;i++)  
       {  
 
                               if(typeof  arrObj[i].type  !=  "undefined"  &&  arrObj[i].type=='checkbox')  arrObj[i].checked  =true;  
       }  
       }  
 
       function  unSelectAll()  
       {  
           var  arrObj  =  document.all;  
       for(var  i  =  0;  i  <  arrObj.length;i++)  
       {  
                               if(typeof  arrObj[i].type  !=  "undefined"  &&  arrObj[i].type=='checkbox')  arrObj[i].checked  =false;  
       }  
       }  
</script> 

</BODY>
  </HTML>